body {
    background: #131313;
    color: #fff;
    position: relative;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.box {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#up {
    margin-top: 20vh;
}

footer {
    bottom: 0;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    font-size: clamp(1rem, 2rem, 5rem);
    font-weight: normal;
    padding: 1.8rem 4.3rem;
    color: #f4f4f4;
    text-transform: uppercase;
}

.copyright {
    font-size: 16px;
    color: white;
    text-decoration: none;
}

.copyright:hover {
    color: gray;
}