body {
    background: #131313;
    color: #fff;
    position: relative;
    display:flex;
    flex-direction: column;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.box, .box1, .box2, .box3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#test {
    display: flex;
}

#up {
    margin-top: 20vh;
}

.container {
    margin-top: 5vh;
}

.home-footer,  .text-footer, .end-footer{
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    justify-content: center;
    align-items: center;
}

a {
    display: block;
    font-size: clamp(1rem, 2rem, 5rem);    
    padding: 1.8rem 1.3rem;
    color: #f4f4f4;
    text-decoration: none;
}

.intro, .part1, .part2, .part3, .conclu, .before {
    display: none;
}

#skip {
    display: none;
    font-size: clamp(1rem, 1.8rem, 2rem);
}

#next, #before {
    display: none;
    font-weight: bold;
    font-size: clamp(1rem, 2rem, 2.4rem);
}

#end {
    font-weight: bold;
    font-size: clamp(1rem, 2rem, 2.4rem);
}

#dott {
    display: none;
}